<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://piespacetest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>piespacetest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PieSpaceTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PieSpaceTest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:qnf79cvxaz.database.windows.net,1433;Initial Catalog=PieSpaceTest_db;User ID=PieSpace@qnf79cvxaz;Password=Password411!" Name="Data Source=tcp:qnf79cvxaz.database.windows.net,1433;Initial Catalog=PieSpaceTest_db;User Id=PieSpace@qnf79cvxaz;Password=Password411!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PizzaProjectAlt.Models.DefaultConnection, PizzaProjectAlt" MigrationConfiguration="PizzaProjectAlt.Migrations.Configuration, PizzaProjectAlt" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qnf79cvxaz.database.windows.net,1433;Initial Catalog=PieSpaceTest_db;User Id=PieSpace@qnf79cvxaz;Password=Password411!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>