@model PizzaProjectAlt.Controllers.AccountController
@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewProfile</h2>

<img src="@ViewBag.ProfilePicture" alt="@ViewBag.FirstName" style="height:100px;" /> <br/>
@ViewBag.FirstName <br/>
@ViewBag.LastName <br/>
