body {
    background: url("https://www.pizzahut.com/assets/w/images/black/background.jpg") no-repeat scroll 50% 0 #252523;
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-circle {
  border-radius: 50%;
}

.picture-text {
    color: #303030;
    display: block;
}

.img-text {
    font-size: 15px;
    color: #484848;
}

#order-button {
    top: 400px;
    right: 10px;
}