<div class="navbar navbar-inverse navbar-fixed-bottom hidden-xs">
    <div class="container-fluid">
        <a class="navbar-text navbar-left" href="@Url.Action("Index", "Home")">
            <p>&copy; @DateTime.Now.Year - Pie Space</p>
        </a>
    </div>
</div>
