@{
    ViewBag.Title = "Home Page";
}

@section pagecss {
    @Styles.Render("~/bundles/homecss")
}

@Html.Partial("_Carousel")



<div class="row">
    <div class="col-md-5">
        <h3>Check us out on twitter:</h3>
        <a class="twitter-timeline" href="https://twitter.com/Pie_Space" data-widget-id="593215823780683776">Tweets by Pie_Space</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    </div>
    <div class="col-md-7">
        <h3>Pizza location in Louisville:</h3>
        <iframe src="https://www.google.com/maps/d/embed?mid=z6I-Y2uEF5QU.kJgDVo99nAys" width="640" height="480"></iframe>
    </div>
</div>




