
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">&nbsp;</div>

<h2>Fan Favorites</h2>

<div class="row"><div class="col-md-12"><hr /></div></div>

<div class="row">
    <div class="col-md-4 text-center">
        <img class="img-circle center-block hidden-xs" src="~/Content/Images/Specialty/rsz_pepperoni.jpg">
        <h3 class="picture-text"><strong>Deep Dish Pepperoni</strong></h3>
        <p class="img-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="col-md-4 text-center">
        <img class="img-circle center-block hidden-xs" src="~/Content/Images/Specialty/rsz_philly_cheese_pizza.jpg">
        <h3 class="picture-text"><strong>Philly Cheese Steak</strong></h3>
        <p class="img-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="col-md-4 text-center">
        <img class="img-circle center-block hidden-xs" src="~/Content/Images/Specialty/rsz_sausage.jpg">
        <h3 class="picture-text"><strong>Sausage</strong></h3>
        <p class="img-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-4 text-center">
        <img class="img-circle center-block hidden-xs" src="~/Content/Images/Specialty/rsz_ham_pineapple.jpg">
        <h3 class="picture-text"><strong>Ham & Pineapple</strong></h3>
        <p class="img-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="col-md-4 text-center">
        <img class="img-circle center-block hidden-xs" src="~/Content/Images/Specialty/rsz_veggie_pizza.jpg">
        <h3 class="picture-text"><strong>Veggie</strong></h3>
        <p class="img-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="col-md-4 text-center">
        <img class="img-circle center-block hidden-xs" src="~/Content/Images/Specialty/rsz_chicken_bacon.jpg">
        <h3 class="picture-text"><strong>Chicken Bacon Ranch</strong></h3>
        <p class="img-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
</div>


<div class="row"><div class="col-md-12"><hr /></div></div>

<h2>Build Your Own</h2>

<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-5" style="float:right">
        <div style="margin:20px;">
            <div id="main" style="position:relative;overflow:hidden;width:550px;height:550px;">
                <img src="~/Content/Images/Toppings/dough.png" style="position:absolute;top:0px;left:0px;z-index:0;" />
                <img src="~/Content/Images/Toppings/sauce.png" style="position:absolute;top:0px;left:0px;z-index:0;" />
                <img src="~/Content/Images/Toppings/cheese.png" style="position:absolute;top:0px;left:0px;z-index:0;" />

                <img id="pepperoni" src="~/Content/Images/Toppings/pepperoni.png" style="position:absolute;top:0px;left:0px;z-index:1;visibility:hidden;" />
                <img id="sausage" src="~/Content/Images/Toppings/sausage.png" style="position:absolute;top:0px;left:0px;z-index:1;visibility:hidden;" />
                <img id="ham" src="~/Content/Images/Toppings/ham.png" style="position:absolute;top:0px;left:0px;z-index:1;visibility:hidden;" />
                <img id="bacon" src="~/Content/Images/Toppings/bacon.png" style="position:absolute;top:0px;left:0px;z-index:1;visibility:hidden;" />
                <img id="chicken" src="~/Content/Images/Toppings/chicken.png" style="position:absolute;top:0px;left:0px;z-index:1;visibility:hidden;" />

                <img id="greenpeppers" src="~/Content/Images/Toppings/green-peppers.png" style="position:absolute;top:0px;left:0px;z-index:2;visibility:hidden;" />
                <img id="bannanapeppers" src="~/Content/Images/Toppings/bannana-peppers.png" style="position:absolute;top:0px;left:0px;z-index:2;visibility:hidden;" />
                <img id="spinach" src="~/Content/Images/Toppings/spinnach.png" style="position:absolute;top:0px;left:0px;z-index:2;visibility:hidden;" />
                <img id="blackolives" src="~/Content/Images/Toppings/black-olives.png" style="position:absolute;top:0px;left:0px;z-index:2;visibility:hidden;" />
                <img id="pineapple" src="~/Content/Images/Toppings/pineapple.png" style="position:absolute;top:0px;left:0px;z-index:2;visibility:hidden;" />
            </div>
        </div>
    </div>

    <div class="col-md-5" style="float:left">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Ingredients</h3>
            </div>
            <div class="panel-body">
                <button class="btn btn-primary" onclick="setImageVisible('pepperoni', true);">Add Pepperoni</button>
                <button class="btn btn-danger" onclick="setImageVisible('pepperoni', false);">Remove Pepperoni</button>
                <br />
                <br />
                <button class="btn btn-primary" onclick="setImageVisible('sausage', true);">Add Sausage</button>
                <button class="btn btn-danger" onclick="setImageVisible('sausage', false);">Remove Sausage</button>
                <br />
                <br />
                <button class="btn btn-primary" onclick="setImageVisible('ham', true);">Add Ham</button>
                <button class="btn btn-danger" onclick="setImageVisible('ham', false);">Remove Ham</button>
                <br />
                <br />
                <button class="btn btn-primary" onclick="setImageVisible('bacon', true);">Add Bacon</button>
                <button class="btn btn-danger" onclick="setImageVisible('bacon', false);">Remove Bacon</button>
                <br />
                <br />
                <button class="btn btn-primary" onclick="setImageVisible('chicken', true);">Add Chicken</button>
                <button class="btn btn-danger" onclick="setImageVisible('chicken', false);">Remove Chicken</button>
                <br />
                <br />
                <button class="btn btn-primary" onclick="setImageVisible('greenpeppers', true);">Add Green Peppers</button>
                <button class="btn btn-danger" onclick="setImageVisible('greenpeppers', false);">Remove Green Peppers</button>
                <br />
                <br />
                <button class="btn btn-primary" onclick="setImageVisible('bannanapeppers', true);">Add Bannana Peppers</button>
                <button class="btn btn-danger" onclick="setImageVisible('bannanapeppers', false);">Remove Bannana Peppers</button>
                <br />
                <br />
                <button class="btn btn-primary" onclick="setImageVisible('spinach', true);">Add Spinach</button>
                <button class="btn btn-danger" onclick="setImageVisible('spinach', false);">Remove Spinach </button>
                <br />
                <br />
                <button class="btn btn-primary" onclick="setImageVisible('blackolives', true);">Add Black Olives</button>
                <button class="btn btn-danger" onclick="setImageVisible('blackolives', false);">Remove Black Olives </button>
                <br />
                <br />
                <button class="btn btn-primary" onclick="setImageVisible('pineapple', true);">Add Pineapples</button>
                <button class="btn btn-danger" onclick="setImageVisible('pineapple', false);">Remove Pineapples</button>
            </div>
        </div>
    </div>
</div>



    @section scripts {
        <script>
            function setImageVisible(id, visible) {
                var img = document.getElementById(id);
                img.style.visibility = (visible ? 'visible' : 'hidden');
            }
        </script>
    }
